* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

.content {
    font-family: "Arial", Serif;
    padding: 20px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.progress-container {
    position: relative;
    height: 30px;
    width: 100%;
    border: 1px solid #4CAF50;
    background-color: #ddd;
    margin-bottom: 10px;
}

.progress-bar {
    position: absolute;
    height: 28px;
    top: 0;
    left: 0;
    background-color: #4CAF50;
    transition: width .1s linear;
}

.percent-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 30px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #4CAF50;
    background: #ddd;
    transition: .2s;
}

.btn:hover {
    background: #4CAF50;
    color: white;
}
